@import '../var.scss';
.card{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: $white-letters;
    max-width: 500px;
    max-height: 400px;
    padding: 0.5rem;
    margin: auto;
    width: 400px;
    height: 220px;
        .decovi{
            margin: 0;
        }
        .img{
            width: 8em;
            height: 10em;
            object-fit: contain;
      }
}