@import '../var.scss';
.card{
    box-sizing: border-box;
    background-color: $white-letters;
    padding: 0.5rem;
    margin: auto;
    width: 480px;
    height: 250px;
    display:flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
        &.card_info{
            margin-left: 3px;
            padding-top: .5em;
        }
        .img{
            width:100%;
            height: auto;
            object-fit: contain;
            margin-right: .5em;
      }
}