@import '../var.scss';
.Header{
    background-color: $white-letters;
    background: $first-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
        .menuButton{
            margin: 1em  ;
            border-left: 1px solid #ddd;
            padding: 1em ;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .menu_img{
            border-radius: 50%;
            box-sizing: border-box;
            max-width: 50px;
            margin-right: 2em;
            margin-left: 2em;
            box-shadow:  0 0 0 5px rgb(250, 250, 250);
        }
        .search{
            border: none ;
            border-radius: 0 0 1em 0;
            margin-left: 0.5em;
            margin-right: 4.5em;
            height: 50px;
            width: 400px;
            padding-left:13px ;
        }
        .header_imgLogo{
            background-position: relative;
        }
        .button{
            background-color: $first-color ;
            color: $white-letters;
            display: inline-flex;
            justify-content: space-evenly;
            align-items: center;
            justify-self: center;
        }
        .bellButton{
            background-color: $first-color ;
        }
        .fillButton{
            background-color: $first-color ;
        }
        .lupa{
            height: 50px;
            width: 50px;
            background-color: $white-letters;
            border-radius: 1em 0 0 0;
            padding: 7px;
        }
        .Header_luse{
            display: inline-flex;
        }}
@media(max-width:768px){
    .Header{
        background-color: $white-letters;
        background: $first-color;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        gap: 2em;
        align-items: center;
        width: 100vw;
        height: 30%;
            .menuButton{
                margin: 1em  ;
                padding: 1em ;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-left: none;
            }
            .menu_img{
                border-radius: 50%;
                box-sizing: border-box;
                max-width: 50px;
                margin-right: 2em;
                margin-left: 2em;
                box-shadow:  0 0 0 5px rgb(250, 250, 250);
            }
            .search{
                border: none ;
                border-radius: 1em;
                height: 50px;
                width: 580px;
                text-align: center;
                font-weight: bold;
                font-size: 2rem;
            }
            .header_imgLogo{
                background-position: relative;
            }
            .button{
                display:none;         
            }
            .bellButton{
                background-color: $first-color ;
            }
            .fillButton{
                background-color: $first-color ;
            }
            .lupa{
                display: none;
            }
    }
}
@media(max-width:360px){
    .Header{
    background-color: $white-letters;
    background: $first-color;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    gap: 2em;
    align-items: center;
    width: 100vw;
    height: 30%;
        .menuButton{
            display: flex;
            justify-content: center;
            border-left: none;
        }
        .menu_img{
            border-radius: 50%;
            box-sizing: border-box;
            max-width: 50px;
            margin-right: 2em;
            margin-left: 2em;
            box-shadow:  0 0 0 5px rgb(250, 250, 250);
        }
        .search{
            border: none ;
            border-radius: 1em;
            height: 50px;
            width: 300px;
            text-align: center;
            font-weight: bold;
            font-size: 1rem;
        }
        .header_imgLogo{
            background-position: relative;
        }
        .button{
            display:none;         
        }
        .bellButton{
            background-color: $first-color ;
            display: none;
        }
        .fillButton{
            background-color: $first-color ;
            display: none;
        }
        .lupa{
            display: none;
        }
}
}
