@import '../var.scss';
.Header{
    background-color: $white-letters;
    background: $first-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
        .menuButton{
            margin: 1em 2em 1em 2em;
        }
        .menu_img{
            border-radius: 50%;
            padding: 0.5rem;
            box-sizing: border-box;
            max-width: 50px;
        }
        .search{
            border: none ;
            border-radius: 0 0 0.5em 0;
            margin-left: 0.5em;
            margin-right: 4.5em;
        }
        .header_imgLogo{
            background-position: relative;
        }
}