@import '../var.scss';
.main{
    background: $second-color;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: auto;
    width: auto;
    height: auto;
        &.main .card{
            display: flex;
            align-items: stretch;
            flex-direction: row;
            margin-left: 1em;
        }
        &.main .decoco{
            margin-right: 1em;
        }
}