@import '../var.scss';
.main{
    background: $second-color;
    display: flex;
    justify-content: center;
    padding: 2em;
    margin: auto;
    width: 100vw;
    &.main .card{
        display: flex;
        align-items: stretch;
        flex-direction: row;
    }
    &.main .decoco{
        margin: 2em;
    }
}